@model ReflectionIT.Mvc.Paging.PagingList<BookShop.Models.ViewModels.ContactViewModel>
@inject BookShop.Classes.ConvertDate convertDate
@using ReflectionIT.Mvc.Paging
@addTagHelper*,ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست پیام ها
            </div>
            <div class="card-body">
                @*<form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> جستجو</button>
                                </span>
                                <input id="input-group-1" name="title" class="form-control" placeholder="عنوان کتاب را واردکنید ..." type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <label class="ml-2">تعداد ردیف</label>
                                <div class="col-md-4  padding-0px">
                                    <select class="select2" name="row" asp-items="@ViewBag.RowID"></select>
                                </div>
                                <div class="col-md-3 padding-0px">
                                    <input type="submit" value="نمایش بده" class="btn btn-primary float-left" />
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.Search != "")
                        {
                            <div class="col-md-4">
                                <a href="/Admin/Books/Index" class="float-left"><i class="fa fa-arrow-circle-left"></i>  بازگشت به لیست کتاب ها   </a>
                            </div>
                        }

                    </div>
                </form>*@


                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>@Html.SortableHeaderFor(model => model.Name, "Name")</th>
                                <th>@Html.SortableHeaderFor(model => model.Email, "Email")</th>
                                <th>@Html.SortableHeaderFor(model => model.Message, "Message")</th>
                                <th>@Html.SortableHeaderFor(model => model.DateCreate, "DateCreate")</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = ViewBag.NumOfRow;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@i</td>
                                    <td class="text-nowrap">@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Message</td>
                                    <td>@convertDate.ConvertMiladiToShamsi(item.DateCreate, "dddd d MMMM yyyy")</td>
                                    <td class="text-center">
                                        <a href="/Admin/ContactMes/Delete/@item.ContactId" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                    </td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>

                    <nav>
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                    </nav>

                    <nav>
                        <vc:pager paging-list="@Model"></vc:pager>
                    </nav>


                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    var SampleJSONData = @Html.Raw(Json.Serialize(ViewBag.Categories));
    var comboTree2;

jQuery(document).ready(function($) {
		comboTree2 = $('#justAnotherInputBox').comboTree({
			source : SampleJSONData,
			isMultiple: false
		});
});</script>
